<template>
  <div class="theme-container">
    <div class="content">
      <h1>404</h1>
      <blockquote>{{ getMsg() }}</blockquote>
      <router-link to="/"></router-link>
    </div>
  </div>
</template>

<script>
const msgs = [
  `ここにはなにもないよ`,
  `どうやってここにたどり着いたの？`,
  `四丸四です`,
  `リンクがおかしいですね。。`
]

export default {
  methods: {
    getMsg () {
      return msgs[Math.floor(Math.random() * msgs.length)]
    }
  }
}
</script>
