<template>
  <div class="sidebar-button" @click="$emit('toggle-sidebar')">
      <div class="icon icon-menu" aria-hidden="true"><span></span></div>
    <!-- <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512">
      <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path>
    </svg> -->
  </div>
</template>

<style lang="stylus">
@import './styles/config.styl'

.sidebar-button
  display none
  width 1.25rem
  height 1.25rem
  position absolute
  padding 0.6rem
  top 0.6rem
  right 1rem
  .icon
    display block
    width 1.5rem
    height 1.25rem
    position relative
    &:before, &:after
      content ''
    span, &:before, &:after
      display inline-block
      transition all .4s
      box-sizing border-box
      position absolute
      right 0
      width 100%
      height .1rem
      border-radius .1rem
      background-color #117066
    span
      top .625em
      transition all .25s .25s
      opacity 1
    &:before
      top 0
      animation menu-bar01 .75s forwards
    &:after
      top 1.25rem
      animation menu-bar02 .75s forwards
.sidebar-open
  .sidebar-button
    .icon
      span
        background none
      &:before
        animation active-menu-bar01 .75s forwards
      &:after
        animation active-menu-bar02 .75s forwards
@media (max-width: $MQMobile)
  .sidebar-button
    display block
@keyframes menu-bar01
	0%
		transform translateY(.625em) rotate(45deg)
	50%
		transform translateY(.625em) rotate(0)
	100%
		transform translateY(0) rotate(0)
@keyframes menu-bar02
	0%
		transform translateY(-.625em) rotate(-45deg)
	50%
		transform translateY(-.625em) rotate(0)
	100%
		transform translateY(0) rotate(0)
@keyframes active-menu-bar01
	0%
		transform translateY(0) rotate(0)
	50%
		transform translateY(.625em) rotate(0)
	100%
		transform translateY(.625em) rotate(45deg)
@keyframes active-menu-bar02
	0%
		transform translateY(0) rotate(0)
	50%
		transform translateY(-.625em) rotate(0)
	100%
		transform translateY(-.625em) rotate(-45deg)
</style>
